DATALAKE_BRONZE=/caminho/para/dados/bronze
DATALAKE_SILVER=/caminho/para/dados/silver
ARQUIVO_TAGS="tags_viloes.json"

# Configurações do S3 (MinIO Local ou Cloudflare R2 / AWS S3)
S3_ENDPOINT_URL="http://localhost:9000"
S3_ACCESS_KEY="seu_access_key"
S3_SECRET_KEY="seu_secret_key"
S3_BRONZE_BUCKET="poker-bronze"
S3_SILVER_BUCKET="poker-silver"
